#menu{
    background-color: #000;
    color: #fff;
    text-align: center;
}

#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.diapositivas{
    border: 10px solid grey;
}
.controlador{
    background: rgb(69,68,68);
    text-align: center;
}
.bg-gris{
    background-color: grey;
    color: #fff;
}


